<!DOCTYPE html>
<html lang="en">
<head>
	<title>Contact V8</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="static/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/css/util.css">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
<!--===============================================================================================-->
	<script src="static/vendor/jquery/jquery-3.2.1.min.js"></script>
	<script>

        $(document).ready(function() {

            $("#submit").click(function () {

				var foodlist = [$("#food1").val(), $("#food2").val(), $("#food3").val()]
				console.log(foodlist)
                $.ajax({
                    url: "/menu",
                    type: "POST",
                    data: JSON.stringify({"store": localStorage.getItem("restaurant"), "menu":foodlist}),
                    success: function (data) {
                        alert("SUCCESS")
                    },
                     error: function() {
                        console.log("ERROR")
                    },
                    contentType: "application/json",
                    dataType: "json"
                });

                alert($("#storename").val())
            });
        });


	</script>
</head>
<body>


	<div class="container-contact100">
		<!--<div class="contact100-map" id="google_map" data-map-x="40.722047" data-map-y="-73.986422" data-pin="images/icons/map-marker.png" data-scrollwhell="0" data-draggable="1"></div>-->

		<div class="wrap-contact100">
			<form class="contact100-form validate-form">
				<span class="contact100-form-title">
					Menu
				</span>

				<div class="wrap-input100 validate-input" data-validate="Name is required">
					<input class="input100" type="text" id="food1" placeholder="第一道菜">
					<span class="focus-input100-1"></span>
					<span class="focus-input100-2"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Name is required">
					<input class="input100" type="text" id="food2" placeholder="第二道菜">
					<span class="focus-input100-1"></span>
					<span class="focus-input100-2"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Name is required">
					<input class="input100" type="text" id="food3" placeholder="第三道菜">
					<span class="focus-input100-1"></span>
					<span class="focus-input100-2"></span>
				</div>

				<!--<div class="wrap-input100 validate-input" data-validate = "Message is required">-->
					<!--<textarea class="input100" name="message" placeholder="Your Message"></textarea>-->
					<!--<span class="focus-input100-1"></span>-->
					<!--<span class="focus-input100-2"></span>-->
				<!--</div>-->

				<!--<div class="contact100-form-checkbox">-->
					<!--<input class="input-checkbox100" id="ckb1" type="checkbox" name="copy-mail">-->
					<!--<label class="label-checkbox100" for="ckb1">-->
						<!--Send copy to my-email-->
					<!--</label>-->
				<!--</div>-->

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn", id="submit">
						Submit
					</button>
				</div>
			</form>
		</div>
	</div>



	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/bootstrap/js/popper.js"></script>
	<script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/daterangepicker/moment.min.js"></script>
	<script src="static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKFWBqlKAGCeS1rMVoaNlwyayu0e0YRes"></script>-->
	<!--<script src="static/js/map-custom.js"></script>-->
<!--===============================================================================================-->
	<script src="static/js/main.js"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

</body>
</html>
